.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 54.5px;
    width: 100%;
    background-color: #F94139;
}

.fixed-bottom-bar {
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 69px;
    background-color: #F94139;
    line-height: 30px;
    position: fixed;
}

#main-container {
    margin-top: 54.5px;
    margin-bottom: 69px;
}

ul#announcements-list.collection.content {
    margin-bottom: 0;
}

.row.menu {
    margin-bottom: 0;
    height: 100%;
}

nav a {
    float: left;
    width: 33%;
    max-width: 150px;
}

.title {
    font-weight: bold;
}

p.price {
    font-weight: bold;
    color: #F94139;
}

p.town, p.location {
    color: #969696;
}

li.collection-item.avatar {
    height: 64px;
    padding: 15px;
}

#toast-container {
    top: 54.5px;
}

input {
    height: 46px;
    border-radius: 3px;
    width: calc(100% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.label.row {
    margin-bottom: 0;
}

.label-inner {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.15rem !important;
    color: #969696;
}

form#add-research-form.col.s12 {
    padding: 1.4rem;
}

.blue-button {
    background: #0097A6;
    color: #ffffff;
    padding: 10px calc((100% - 62px) / 2);
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: bold;
}

div.input-field.col.s12.text {
    margin-top: 0;
}

.no-elements {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.no-elements h5 {
    margin-top: 0;
}

.btn-flat:focus {
    background-color: #F94139 !important;
}